*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Variable
$grayLight: rgb(236, 236, 236);
$orange: #f17e39;

.rselectr{
  &-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
  }
  &-control{
    position: relative;
    border: 1px solid $grayLight;
    border-radius: 4px;
    padding: 6px 30px 6px 10px;
    min-height: 40px;
    line-height: 25px;
  }
  &-control:after{
    content: '';
    border-color: #666 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
  }
  &-menu{
    padding-top: 50px;
    border: 1px solid $grayLight;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
  }
  &-searchInput-wrapper{
    padding: 6px;
    border-bottom: 1px solid $grayLight;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  &-searchInput{
    width: 100%;
    padding: 6px 12px;
    border-radius: 2;
    outline: none;
    border: 1px solid $grayLight;
    box-shadow: none;
  }
  &-option-list{
    max-height: 300px;
    overflow-y: auto;
  }
  &-option{
    padding: 8px 12px;
    cursor: pointer;
    &.isFocus{
      background-color: rgba($orange, 0.1);
    }
    &.isSelected{
      display: none;
    }
  }
  &-optionGroup{
    padding: 6px 12px;
  }
  &-optionGroupLabel{
    font-weight: bold;
  }
  &-value-wrap{
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    margin-right: 4px;
    // height: 26px;
  }
  &-value-item{}
  &-value-delete{
    padding: 0px 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: $orange;
    color: #fff;
    height: 26px;
    margin: 2px 0;
  }
  &-value{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    background: rgba($orange, 0.8);
    color: #fff;
    height: 26px;
    margin: 2px 0;
  }
}